environment:
  matrix:
    - PYTHON: "C:\\Python38-x64"
      PYTHON_VERSION: "3.8.x"
      PYTHON_ARCH: "64"


init:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "SET PYTHONPATH=%PYTHON%\\Lib\\site-packages;%PYTHONPATH%"
  - "%PYTHON%\\python.exe -m pip install --upgrade pip"
  - "%PYTHON%\\python.exe -m pip install wheel"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  - "%PYTHON%\\python.exe -m pip install codecov"
  - "%PYTHON%\\python.exe -m pip install nose-cov"
  - "%PYTHON%\\python.exe -m pip install -U pytest"
  - "%PYTHON%\\python.exe -m pip install -U flake8"
  - "%PYTHON%\\python.exe -m pip install -U yapf"
  - "%PYTHON%\\python.exe -m pip install -U pylint"
  - set PYTHONPATH=src
  - "%PYTHON%\\python.exe -m  pip --version"
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

build_script:
  - pwd
  - cd C:\projects\polyphy
  - "%PYTHON%\\python.exe -m pip install . -U"
  - polyphy --version

test_script:
  - py.test -v 2>&1
  - flake8 --ignore=E501,W503,E402,F401,F403,E722,F841,W504 ./src --max-line-length=90 2>&1
  - yapf --recursive ./src --style=.style.yapf -d 2>&1
#  - pylint -rn ./src -f colorized --rcfile=.pylintrc
