Sphinx==4.5.0
coverage
flake8
isort
matplotlib==3.5.3
nbmake
numpy<=1.22.0
pytest-cov
pytest-xdist
pytest==7.1.2
scipy
setuptools==65.5.1
sphinx
taichi==1.6.0
toml
tox
yapf
ipywidgets
pyvista
trimesh
PyMCubes
scikit-image
path