# sphinx_rtd_theme
Pillow
configupdater
coverage
flake8
furo
isort
matplotlib
myst-parser
numpy<=1.22.0
packaging
platformdirs
pytest
pytest-cov
pytest-xdist
setuptools
setuptools_scm
sphinx
sphinx-copybutton
sphinx>=3.2.1
sphinxemoji
sphinx_markdown_builder
taichi
toml
tomlkit
tox
yapf