# sphinx_rtd_theme
Pillow
Sphinx==4.5.0
configupdater
coverage
flake8
furo
isort
matplotlib==3.5.3
numpy<=1.22.0
packaging
platformdirs
pytest
pytest-cov
pytest-xdist
pytest==7.1.2
setuptools==63.2.0
setuptools_scm
sphinx-copybutton
sphinx>=3.2.1
sphinxemoji
taichi
toml
tomlkit
tox
yapf